.nav-item  a:hover {
    border-bottom: 3px solid fuchsia;
    color: #428bca;
  }
  
  .nav-item:hover .dropdown-menu {display: block;
  }
  .nav-link{
    color: black;
  }
  .navbar-toggler {
    color: fuchsia;
  }