

<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6">
                <h3 class="f-title f_600 t_color f_size_18">Notre mission</h3>
                <div class="f_widget company_widget wow fadeInLeft"
                 data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        
                  <p>Notre objectif est de mettre en valeur les profils des chercheurs d'emploi, faciliter la tâche aux recruteurs dans la recherche de profils pour leur entreprise 
                    et de mettre à disposition des entreprises et particuliers des bases de données. 
                  </p>
               </div>   
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">lien rapide</h3>
                      <ul class="list-unstyled f_list">
                         
                          <li><a  >Base de donnée</a></li>
                          <li><a href="cv-theque" >Boite à CV</a></li>
                          <li><a href="certification" >Nos certifications</a></li>
                          <li><a href="#" > <span><i class="fa fa-phone"></i> 
                            656 144 363/691 332 136</span>
                            </a></li>
                          <li><a href="https://mail.google.com/mail/u/2/?tab=wm&ogbl#inbox"><span><i class="fa fa-envelope"></i> 
                            archipelcm@gmail.com</span></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                      <ul class="list-unstyled f_list">
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Term &amp; conditions</a></li>
                          <li><a href="#">Reporting</a></li>
                          <li><a href="#">Documentation</a></li>
                          <li><a href="#">Support Policy</a></li>
                          <li><a href="#">Privacy</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                      <div class="f_social_icon">
                          <a href="https://web.facebook.com/ingrid.archipel?__nodl&_rdc=1&_rdr" class="fa fa-facebook"></a>
                          <a href="https://www.instagram.com/communicationarchipel/" class="fa fa-instagram"></a>
                          <a href="https://www.linkedin.com/in/archipel-cm-bb733193" class="fa fa-linkedin"></a>
                          <a href="#" class="fa fa-whatsapp"></a>
                          <a href="https://www.youtube.com/channel/UCrdpjwjY1jpcr2YkM4caTrw" class="fa fa-youtube"></a>
                      </div>
                      
                        <form action="#" class="f_subscribe_two mailchimp" method="post" 
                        novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                  </div>
            
          </div>
      </div>
      <div class="footer_bg">
          <div class="footer_bg_one"></div>
          <div class="footer_bg_two"></div>
      </div>
  </div>
  <div class="footer_bottom">
      <div class="container mt-0">
          <div class="row align-items-center">
              <div class="col-lg-6 col-sm-7">
                  <p class="mb-0 f_400">© archipelcm Inc.. 2020 All rights reserved.</p>
              </div>
              <div class="col-lg-6 col-sm-5 text-right">
                  <p>design by archipelcm <i class="icon_heart"></i> in <a href="#"></a></p>
              </div>
          </div>
      </div>
  </div>
</footer>





<!--<div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
      <h1 class="logo-text"><span>Plateforme  </span>  Archipel</h1> 
      <p>
        Notre objectif est de mettre en valeur les profils des chercheurs d'emploi, faciliter la tâche aux recruteurs dans la recherche de profils pour leur entreprise 
        et de mettre à disposition des entreprises et particuliers des bases de données. 
      </p>
      <div class="contact">
          <span><i class="fa fa-phone"></i> 
        656 144 363/691 332 136</span><br>
        <span><i class="fa fa-envelope"></i> 
    archipelcm@gmail.com</span>
      </div>
      <div class="socials">
          <span><i class="fa fa-facebook"></i></span> 
          <span><i class="fa fa-instagram"></i></span>
          <span><i class="fa fa-twitter"></i></span>
          <span><i class="fa fa-youtube"></i></span>
      </div>     
        </div>
        <div class="footer-section links">
          <h2>Quick Link</h2>
          <br><ul>
          <span><li>Postule</li></span> 
          <span><li> Base de données</li></span>
          <span><li> Boite à CV</li></span>
          <span><li>  A propos de nous</li></span>
          <span><li> Contact</li></span>
        </ul>
        </div>
        <div class="footer-section contact-form">
            <h2>Contactez-nous</h2>
            <br>
            <form action= "index.html"method="post">
                <div class="form-group mx-sm-3 mb-2 mt-2">
                <input type="email" name="email" class="text-input contact-input"
                 placeholder="entrez votre adresse">
                 <textarea class="text-input contact-input" 
                 placeholder="entrez votre message..."></textarea>
                 <br>
                 <button class="btn btn-primary mb-2 mt-2 contact-input" type="submit">
                    <i class="fa fa-paper-plane" aria-hidden="true">  envoyer</i>
                 </button>
                </div>
                 
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        &copy;archipelcm.com | Design by Elempah
    </div>
</div>-->