<div class="container-fluid">

    <div class="row">
        <div class="col-md-3  ">
          <h4 class="text-center mt-5 mb-auto">  Certifications</h4>
          <div class="row m-3 "><button routerLink='/conseil' type="button" class="btn btn-outline-fuchsia ">Conseiller en vente</button></div>
         <div class="row m-3"> <button routerLink='/hotesse' type="button" class="btn btn-outline-fuchsia ">Hotesse d'accueil </button></div>
       <div class="row m-3"> <button routerLink='/assistante' type="button" class="btn btn-outline-fuchsia ">Assistant(e)</button></div>
        <div class="row m-3"><button  routerLink='/teleoperateur'type="button" class="btn btn-outline-fuchsia ">Téléconseiller</button></div>
        <div class="row m-3"><button  routerLink='/receptionniste'type="button" class="btn btn-outline-fuchsia ">Réceptioniste</button></div>
        </div>
        
        <div class="col-md-6 mt-3">
          <h1 class="debut"> Nos certifications</h1>
          Cultivez votre adaptabilité et développez de nouvelles compétences quelque soit votre domaine d'expertise.

          <div class="paragraph--1">

          
            <div class="card-deck">
                <div class="card">
<img src="../../assets/H3.jpg" class="card-img-top" 
                  alt=""
                  >
                  <div class="card-body">
                    <h5 class="card-title">Certification d'hôtesse d'accueil </h5>
                    <p class="card-text">Cette certification vous prépare au métier d'hôtesse, d'accueil...   </p>
                   
                  </div>
                  <div class="card-footer">
                    <button  routerLink= "/hotesse" class="btn btn-outline-fuchsia">En savoir plus..</button>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/A1 (1).jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Certification Assistanat</h5>
                    <p class="card-text">
                      ​ Cette certification vous permettra d’acquérir des méthodes de travail afin de pouvoir suppléer
                       au mieux son supérieur hiérarchique...
                       </p>
                  </div>
                  <div class="card-footer">
                    <button routerLink="/assistante" class="btn btn-outline-fuchsia">En savoir plus..</button>
                  </div>
                </div>
            
              </div>
            </div>
            <hr>

            <div class="paragraphe--2">
            <div class="card-deck">

            <div class="card">
              <img src="../../assets/conseiller-clientele 2.jpg" class= "card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Certification de Conseiller(e) en vente </h5>
                <p class="card-text">
                  Certifiez vous rapidement et efficacement au métier très recherché de
                   conseiller(e) en vente grâce à des cours abordant... </p>
              </div>
              <div class="card-footer">
                <button  routerLink="/conseil" class="btn btn-outline-fuchsia">En savoir plus..</button>
              </div>
            </div>
              <div class="card">
                  <img src="../../assets/T2.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Certification de Téléconseiller(e) </h5>
                    <p class="card-text">
                      Obtenez une certification au métier de téléconseiller(e) grâce à des cours abordant... 
                      </p>
                  </div>
                  <div class="card-footer">
                    <button  routerLink="/teleoperateur" class="btn btn-outline-fuchsia">En savoir plus..</button>
                  </div>
                </div>
              </div>
              </div>




        </div>
        <div class="col-md-3  mt-3">
          <div class="encadre encadre_fiche encadre--1"><h5 class="encadre__titre--1">Vous êtes chercheur d'emploi et voulez être vu par nos entreprise partenaire?</h5><div class="encadre_contenu encadre__contenu--1">
			
            <ul>
              <li><span style="font-weight: bold;"><a href="https://archipelcm.wixsite.com/formationarchipel/inscrivez-vous" title="Découvrez notre offre">
                
                Inscrivez-vous ici pour suivre une formation</a></span></li>
            </ul>
            
                </div><!-- .encadre_contenu .encadre__contenu -->
              </div>

              <div class="encadre encadre_fiche encadre--1"><h2 class="encadre__titre--1">Témoignage</h2><div class="encadre_contenu encadre__contenu--1">
			
                <span style="font-style: italic;"><img align="left" alt=""
                   src="../../assets/temoignage.PNG" style="width:58px; border:0px solid #000; margin:5px 5px;">
                   «Enrichissante et activatrice de compétences; Tels sont les

                   qualificatifs qui peuvent au mieux définir mon Aventure "ARCHIPEL ". J'ai en effet eu l'opportunité au cours de ce mois de formation, d'expérimenter le Télémarketing sous toutes ses formes, de découvrir et de m'approprier les meilleures techniques de la GRC et surtout de développer un professionnalisme aux normes internationales.
                   
                   Par ailleurs, l'ouverture que nous offre la formation ARCHIPEL  de pouvoir, sur une base régulière, passer des entretiens d'embauche dans diverses entreprises, est un bel exercice pour se forger une personnalité confiante et déterminée. 
                   
                   Je ressors très satisfaite de cette expérience que je conseillerai vivement à quiconque aimerait se démarquer dans le monde professionnel déjà très compétitif. ».</span><br>
                <br>
                Elise Laure TOM<br>
                
                    </div><!-- .encadre_contenu .encadre__contenu -->
                  </div>


        </div>
    </div>
</div>
<app-footer></app-footer>