<div class="style-k56k43owinlineContent" id="comp-k3x9g6ucinlineContent"><style id="comp-k3x9g6uc-mesh-styles">
    
</style><div id="comp-k3x9g6ucinlineContent-gridWrapper" data-mesh-internal="true"> 
  <div id="comp-k3x9g6ucinlineContent-gridContainer" data-mesh-internal="true">
    <div data-packed="false" data-vertical-text="false" data-min-height="42" class="txtNew"
     id="comp-k3x9iqy2" style="width: 271px; min-height: 42px; pointer-events: none;">
     <h4 class="font_4" style="text-align:center; font-size:28px;"><span style="color:#1742d1;">
       <span style="font-size:28px;"><span style="font-family:georgia,palatino,book antiqua,palatino linotype,serif;">
         <span style="font-weight:bold;">
 </span></span></span></span></h4></div></div></div></div>

<ngb-carousel
interval="1000">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/profil 2.jpg" alt="Angular Carousel 1" class="card-image">
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/profil 3.jpg" alt="Angular Carousel 1" class="card-image">
      </div>
      <div class="carousel-caption">
        
      </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/profil page formation.jpg" alt="Angular Carousel 1" class="card-image">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
   
</ngb-carousel>




<div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-9">
          <p>ARCHIPEL  est une entreprise spécialisée dans la mise en relation 
    
            des   chercheurs d'emplois, des entreprises et des professionnels.
            
            Nous accompagnons notre clientèle à développer son effort et champ de     contact à travers nos bases de données:
            
            ​
            Accédez à nos différents services en visitant notre site!
            </p>
            <br>
            <p>
                Élargissons notre réseau et nous atteindrons ensemble la partie cachée de l'ICEBERG.<br>
<div class="row">
  <div class="col-md-6">
    <button  routerLink= "/cv-theque"type="button" class="btn btn-outline-fuchsia" placement="bottom"
        ngbPopover="Je suis une entreprise et j'ai besoin d'un talent." >
        <span class="fa fa-building fa-3x"></span>Entreprise
</button>
  </div>
  <div class="col-md-6">
    
    <button type="button" class="btn btn-outline-primary" routerLink= "/certification" placement="bottom"
        ngbPopover="Je suis un chercheur d'emploi et j'ai besoin de devenir visible par les recruteurs." >
        <span class="fa fa-male fa-3x"></span> Chercheur d'emploi
</button> </div>
</div>

        </div>
        <div class="col-md-6 col-sm-3">
      
            <video width="550" height="350" autoplay loop>
              <source src="../../assets/accueil.mp4" type="video/mp4">
          
            </video>

        </div>
      </div>
      <hr>



     







 <div class="card-deck">
  <div class="card">
    <img src="../../assets/Brown Vintage Photo Collage Facebook Post.png" class="card-img-top" alt="...">
    <div class="card-body">
      <button class="btn btn-outline-primary"><a routerLink="/particulier"> 1. CENTRE D’INTÉRÊT CIBLE DES PARTICULIERS</a> </button>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/White and Bright Green Children's Market Feed Ad (3).png" class="card-img-top" alt="...">
    <div class="card-body">
      <button class="btn btn-outline-primary"><a routerLink="/entrepisesCamerounaises">
        2.  ENTREPRISES PARTENAIRES NATIONALES ET INTERNATIONALES</a> </button>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/White and Bright Green Children's Market Feed Ad (4).png" class="card-img-top" alt="...">
    <div class="card-body">
      <button class="btn btn-outline-primary"><a routerLink="/cv-theque"> 3. CURRICULUM VITAE</a> </button>
    </div>
  </div>
</div>

      <p><a class="btn btn-primary btn-lg mt-5" href="#" role="button">En savoirs plus... &raquo;</a></p>
    </div>
  </div>
  <hr>
  <h1 class="txtNew"> Ils nous ont fait confiance</h1>
  <div class="style-k56k43owinlineContent" id="comp-k3x9g6ucinlineContent"><style id="comp-k3x9g6uc-mesh-styles">
    
   </style><div id="comp-k3x9g6ucinlineContent-gridWrapper" data-mesh-internal="true"> 
     <div id="comp-k3x9g6ucinlineContent-gridContainer" data-mesh-internal="true">
       <div data-packed="false" data-vertical-text="false" data-min-height="42" class="txtNew"
        id="comp-k3x9iqy2" style="width: 471px; min-height: 42px; pointer-events: none;">
        <h4 class="font_4" style="text-align:center; font-size:28px;"><span style="color:#FFFFFF;">
          <span style="font-size:28px;"><span style="font-family:georgia,palatino,book antiqua,palatino linotype,serif;">
            <span style="font-weight:bold;">
    </span></span></span></span></h4></div></div></div></div>
  <ngb-carousel
  interval="1000">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/bloosat.jpg" alt="Angular Carousel 1" class="card-image">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/img/CAPEF.png" alt="Angular Carousel 1" class="card-image">
        </div>
        <div class="carousel-caption">
          
        </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/cimencam.png" alt="Angular Carousel 1" class="card-image">
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/img/emploi.png" alt="Angular Carousel 1" class="card-image">
        </div>
        <div class="carousel-caption">
          
        </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/img/bloosat.jpg" alt="Angular Carousel 1" class="card-image">
          </div>
          <div class="carousel-caption">
            
          </div>
        </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/large_logo_intelcia_Vec-page-001.jpg" alt="Angular Carousel 2" class="card-image">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/logo-header.png" alt="Angular Carousel 2" class="card-image">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/logoIPERSAT-1.png" alt="Angular Carousel 2" class="card-image">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/rural.png" alt="Angular Carousel 2" class="card-image">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/zenith.jpg" alt="Angular Carousel 2" class="card-image">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/ucb.webp" alt="Angular Carousel 2" class="card-image">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
  </ngb-carousel>
  <app-footer></app-footer>









  <div class="card-body">
            
    <!--<h3 class="name">Prenom:  {{ informaticiens.prenom | uppercase}}</h3>
     <p class="profession">Mobilite:  {{informaticiens.mobilite | uppercase}}</p>
     <p class="text-center">Salaire Minimum: {{informaticiens.salaire_minimum}} <br>
      Nombre d'année d'experience:  {{informaticiens.nombre_experience}}
  </p>--> 
 
</div>