<div class="row">
    <div class="col-md-6">
        <img src ="../../assets/R2.webp" class="ml-2" style="width: 90%; height: 250px;">
    </div>
    <div class="col-md-6 mt-3 float-right">
        <span class="desc"> 
            
                <h2 class="text-center">Certification de Réceptionniste </h2> <br>
                <p class="text-justify mr-3" >  Cette certification donne des notions de vente et 
                    d’accueil physique et téléphonique. En effet, la certification de Réceptionniste 
                     consiste à améliorer l'efficacité 
                    de l’accueil physique et téléphonique par la confiance 
                    et l'aisance dans son expression et son comportement.</p>
</span>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
<h2 class="text-center mt-4">Débouchés</h2> <br>
      <p class="text-justify ml-4">
       <li>Responsable de réception hôtelière</li>  
        <li>Chargé(e) d’accueil</li>
       <li> Responsable des réservations en hôtellerie </li>
       <li>Réceptionniste en établissement touristique </li>
        <li>Réceptionniste en hôtellerie</li>
        <li>Réceptionniste d’entreprises commerciales.</li>
      </p> 
    </div>
    <div class="col-md-6">
        <h2 class="text-center mt-4">Durée de la certification</h2> <br>
      <p class="text-center">
        1 mois. Deux fois par jour.
      </p>
    </div>
</div>
<app-footer></app-footer>
