<div class="row">
    <div class="col-md-6">
        <img src ="../../assets/A1 (1).jpg" class="ml-2" style="width: 90%; height: 250px;">
    </div>
    <div class="col-md-6 mt-3 float-right">
        <span class="desc"> 
            
                <h2 class="text-center">Certification Assistanat</h2> <br>
                <p class="text-justify mr-3" >   Cette certification vous permettra d’acquérir
                     des méthodes de travail afin de pouvoir suppléer au mieux son supérieur
                      hiérarchique si besoin est.</p>
</span>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
      <h2 class="text-center mt-4">Débouchés</h2> <br>
      <p class="text-justify ml-4">
       <li> Chargé(e) de clientèle</li>  
        <li> Assistant(e) de direction</li>
       <li> Assistant(e) commercial(e). </li>
       <li>Assistant(e) comptable </li>
      </p> 
    </div>
    <div class="col-md-6">
        <h2 class="text-center mt-4">Durée de la certification</h2> <br>
      <p class="text-center">
        5 semaines à 6 mois.
      </p>
    </div>
</div>
<app-footer></app-footer>