
  .encadre.encadre--1 {
    color: #002e5d;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15)
  }
  .encadre {
    margin-bottom: 1.5em;
    margin-top: 6rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#encadre {
  padding-left: 0.5em;
  padding-right: 0.5em;
}