<div class="col-md-3  mt-3">
    <div class="encadre encadre_fiche encadre--1"><h5 class="encadre__titre--1">Vous êtes chercheur d'emploi et voulez être vu par nos entrepriseparenaire?</h5><div class="encadre_contenu encadre__contenu--1">
      
      <ul>
        <li><span style="font-weight: bold;"><a routerLink='' title="Découvrez notre offre">Enregistrez-vous ici</a></span></li>
      </ul>
      
          </div><!-- .encadre_contenu .encadre__contenu -->
        </div>

        <div class="encadre encadre_fiche encadre--1"><h2 class="encadre__titre--1">Témoignage</h2><div class="encadre_contenu encadre__contenu--1">
      
          <span style="font-style: italic;"><img align="left" alt=""
             src="../../assets/temoignage.PNG" style="width:58px; border:0px solid #000; margin:5px 5px;">
             «Enrichissante et activatrice de compétences; Tels sont les

             qualificatifs qui peuvent au mieux définir mon Aventure "ARCHIPEL ". J'ai en effet eu l'opportunité au cours de ce mois de formation, d'expérimenter le Télémarketing sous toutes ses formes, de découvrir et de m'approprier les meilleures techniques de la GRC et surtout de développer un professionnalisme aux normes internationales.
             
             Par ailleurs, l'ouverture que nous offre la formation ARCHIPEL  de pouvoir, sur une base régulière, passer des entretiens d'embauche dans diverses entreprises, est un bel exercice pour se forger une personnalité confiante et déterminée. 
             
             Je ressors très satisfaite de cette expérience que je conseillerai vivement à quiconque aimerait se démarquer dans le monde professionnel déjà très compétitif. ».</span><br>
          <br>
          Elise Laure TOM<br>
          
              </div><!-- .encadre_contenu .encadre__contenu -->
            </div>


  </div>