<div class="row">
    <div class="col-md-6">
        <img src ="../../assets/cv4.jpg" class="ml-2" style="width: 90%; height: 250px;">
    </div>
    <div class="col-md-6 mt-3 float-right">
        <span class="desc"> 
            
                <h2 class="text-center">Certification de Conseiller(e) en vente </h2> <br>
                <p class="text-justify mr-3" >  Certifiez vous rapidement et efficacement au métier
                     très recherché de conseiller(e) en vente grâce à des cours abordant de façon
                     très didactique l'ensemble des notions commerciales 
                     qu'un professionnel de la vente se doit de connaître.</p>
</span>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
      <h2 class="text-center mt-4">Débouchés</h2> <br>
      <p class="text-justify ml-4">
       <li>Agent de service à la clientèle</li>  
        <li>Conseiller(e) à la vente</li>
       <li>  Collaborateur / Collaboratrice         
        commercial(e) </li>
       <li>Délégué(e) commercial(e) sédentaire
        Commercial(e) </li>
        <li>Prospecteur</li>
        <li>Responsable de service marchandisage</li>
      </p> 
    </div>
    <div class="col-md-6">
        <h2 class="text-center mt-4">Durée de la certification</h2> <br>
      <p class="text-center">
        ​1 mois. Deux fois par semaine.
      </p>
    </div>
</div>
<app-footer></app-footer>