.container-fluid{
background: url(../../assets/office-925806_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
  
}
.text-justify{
    color: white;
    font-size: 12 ;
    font-family: Georgia;
    font-weight: bold;
    margin-top: 2rem;
}