.row{
    color: #ffffff;
    background-color: #5150a0;
}
.text-justify{
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}
.title{
    text-align: center;
    font-size: 30px;
    

}
.text-center{
    font-size: bold;
    margin-top: 1px;
}
//.img{
   // width: 200px;
    //h//eight: 150px;
   // object-fit: cover;
//}